.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.contact-item:hover {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
}

.contact-item span {
    margin-left: 10px;
}