.modal {
    max-width: 350px !important;
}
.profile-pic {
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 4px 10px;
    border-top: 1px solid #e5e5e5;
}
.row span {
    flex: .2;
    text-align: left;
}
.row p {
    padding-left: 10px;
    flex: .8;
    margin: 0;
    text-align: left;
}