.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 50px;
    background-color: rgb(51, 51, 51);
}

.header-container span {
    font-weight: bold;
    color: #ffffff;
}